body {
	font-size: 14pt;
	font-family: times new roman;
}
h1 {
	color: #0e294b;
}
h2.redcolor {
	color: #c70000;
}
#header {
	background-color: #9090e9;
	text-align: center;
}
#menu {
	background-color: #c5d0e6;
}
#page {
	background-color: #d3deed;
	text-align: center;
}
#footer {
	background-color: #9090e8;
	text-align: center;
}